*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  background-color: white; 
  overflow-x: hidden;                   
  overscroll-behavior: none;            
  scroll-behavior: smooth;              
}

section{
  min-height: 100vh;
}


.footer-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%; 
    margin-top: 3%;
    
}

.flogo{
    display: flex;
    flex-direction: column; 
    
}

.flogo img{
  border: 2px solid white;
  border-radius: 50%;
}

.Footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(232, 236, 239) ;
    text-align: center;
    min-height: auto;
    height: 40vh;
    
}


.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(232, 236, 239);
    text-align: center;
    min-height: auto;
    height: 40vh;
  
}

.no-bullets{
    list-style-type: none;
}


.testimonial-section{
    min-height: auto;
    height: 80vh;
    
}


.testimonial-content{
    text-align: center;
    margin-top: 3%; 
}

.testimonial-img{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

.review{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    height:40vh ;
    width:20vw;
    border: 2px solid white;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgb(83, 83, 83);
    font-size: 10px;
    background-color:white; 
    gap:5%
}

.review p{
  font-size: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.testimonial-img :hover{
  background-color:rgb(242, 209, 21) ;
}

.review img{
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.menu-section{
  min-height: auto;
  height: 80vh;
  
}

.menu-content{
  text-align: center;
  margin-top: 3%; 

}

.menu-img{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
}

.menu-img :hover{
  background-color: rgb(242, 209, 21);

}

.food{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
  height:50vh ;
  width:20vw;
  border: 2px solid white;
  border-radius: 2%;
  box-shadow: 0 4px 8px rgb(83, 83, 83);
  font-size: 15px;
  margin-bottom: 10%;
    
}

.food h2{
  font-size: 20px;
}

.food p{
  margin-left: 5%;
  margin-right: 5%;
}
    
.food img{
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(83, 83, 83);
  margin-bottom: 5%;

}

.order-section{
  min-height: auto;
  height: 60vh;
  display: flex;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 10%;
}

.order-content{
  min-height: auto;
  width:30vw;
}

.order-content img{
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(83, 83, 83);
  margin-bottom: 5%;
}

.order-info{
  min-height: auto;
  width:30vw;
}

#order-button{
  height: 40px;
  width:100px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 30%;
  background-color: rgb(242, 209, 21);
  color: black;

}

.home-section{
  background-color: rgb(242, 209, 21);
  
}

.home-content {
  font-size: 30px;
}

.home-content p{
  font-size: 20px;
}

.home-container{
  display: flex;
  min-height: auto;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  gap:20%
} 


.home-image img{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(83, 83, 83);
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#name{
  color:white;
  
}

.nav-section{
  background-color: black;
  color:rgb(242, 209, 21) ;
  min-height: auto;

}

.nav-container{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  gap: 20%;
}

.weblogo{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.weblogo img{
  border: 2px solid white;
  border-radius: 50%;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30%
}

.nav-content a{
  font-size: 25px;
  color: white;
  text-decoration: none; 
}

.nav-content  :hover{
  color:rgb(242, 209, 21);
  text-decoration: underline;
}


